
    <!-- <link rel="stylesheet" href="./css/header.css"> -->
    <!-- <script src="script.js"></script> -->

    <header>
        <div class="menu">
            <!-- <ul class="list" style="min-width: 50%"> -->
            <ul class="list">
                <li><a class="menu-item">About</a></li>
                <li><a class="menu-item">Projects</a></li>
                <li><a class="menu-item">Publications</a></li>
                <li><a class="menu-item">Resume</a></li>
            </ul>
            <div style="width:500%"></div>
        </div>
        </div>
    </header>



