.card{
    font-size:max(15px, 1.8vw);
    clear: both;
    color: var(--text);
    min-width: 20em;
    line-height: 1.2em;
}

.card-left {
    margin-left: 5px;
    padding-left: 5px;
    width: 80%;
}

.card-right {
    margin-right: 5px;
    padding: 0px 30px 0px 30px;
    float: right;
    width: 80%;
}

.title {
    text-align: center;
    /* font-size: 2.5em; */
    font-size: 4vw;
    margin-bottom: 30px;
    line-height: 1.4em;
}