:root {
    /* --poppins: "Poppins", sans-sefit; */
    --light: #c4c4c4;
    --dark: #565050;/*header and footer*/
    --white: #f7f7f7;
    /* --text: rgb(255, 200, 200); */
    --text: rgb(10, 12, 72);
    --text_dark: rgb(255, 180, 130);
    --link_default_blue: rgb(57, 6, 244);
    --header_height: 70px;
    --footer_height: 140px;
    --header_font: 'Arial';
}


/* .card{
    font-family: Poppins;
} */


/* .background{
    font-family: Poppins;
    background-color: blue
} */

.background {
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgba(10, 4, 4, 0.8); */
    background-color: rgb(251, 253, 245); /*body background*/
    /* background-image: url(../imgs/background.jpeg); */
    background-attachment: fixed;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
}