

footer{
    background-color: var(--dark);
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer_height);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: Roboto Flex;
}