/* https://www.youtube.com/watch?v=our2WMvPegM */

*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: var(--poppins); */
}

/* ul{
    float: left;
} */

.menu{
    z-index: 100;
    position: fixed;
    margin-top: 0px;
    /* height: 70px; */
    height: var(--header_height);
    width: 100%;
    background: var(--body_color_top);
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid #ccc; */
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    /* background: linear-gradient(180deg, #32455f, #bccae0 100%); */
    /* float: left; */
}

.list{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.list .menu-item{
    position: relative;
    color: var(--light);
    text-decoration: none;
    /* padding: 17px 0; */
    margin-left: 1rem;
    font-size: 1.4rem;
    /* font-family: sans-serif; */
    /* font-family: var(--header_font); */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 10;
    /* padding: 2rem; */
}

.list .menu-item::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 0%;
    height: 1px;
    background: var(--white);
    transition: 0.3s ease-in-out;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.list .menu-item:hover::after{
    left: 0;
    width: 100%;
}

.menu-item:hover{
    cursor: pointer;
}