:root {
    /* --poppins: "Poppins", sans-sefit; */
    --light: #16171e; /*header font color*/
    --dark: #f6f8fb;/*header and footer*/
    --white: #190303;

    --text: rgb(13, 15, 71);
    /* --text: rgb(81, 81, 82); */
    --text_dark: rgb(255, 180, 130);
    --link_default_blue: rgb(80, 59, 158);
    --header_height: 60px;
    --footer_height: 120px;
    /* --header_font: 'Arial'; */
    /* --header_font: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; */
}


/* .card{
    font-family: Poppins;
} */


/* .background{
    font-family: Poppins;
    background-color: blue
} */

.background {
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgb(251, 253, 245); body background */
    background: linear-gradient(180deg, #f6f8fb, #eef3fb 60%);
    background-attachment: fixed;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
}