.card{
    font-size:18px;
    clear: both;
    color: var(--text);
}

.card-left {
    margin-left: 5px;
    padding-left: 5px;
    width: 60%;
}

.card-right {
    margin-right: 5px;
    padding: 0px 30px 0px 30px;
    float: right;
    width: 60%;
}

.title {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
    line-height: 1.4em;
}

.list-item{
    position: relative;
    color: var(--text);
    text-decoration: none;
}

.list-item:hover{
    color: var(--text_dark);
}

.list-item::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--text_dark);
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.2s ease;
}

.list-item:hover::before{
    transform: scaleX(1);
}

.here{
    position: relative;
    text-decoration: none;
}

.here::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--dark_blue);
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.2s ease;
}

.here:hover::before{
    transform: scaleX(1);
}


