footer{
    background-color: var(--dark);
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 200px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    padding-bottom: 50px;
    padding-top: 50px;
}