:root{
    --poppins: "Poppins", sans-sefit;
    --light: #c4c4c4;
    --dark: #161616;
    --white: #f7f7f7;
    --text: rgb(255, 200, 200);
    --text_dark: rgb(255, 180, 130);
    --dark_blue: rgb(80,110,255);
}

.divider{
    margin-top: 50px;
    margin-bottom: 50px;
    clear: both;
}