@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comic+Neue|Gotu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Slabo+27px|Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.main {
    margin: 10rem;
}

.small {
    font-size: 1.2rem;
}

.roboto {
    font-family: Verdana, sans-serif;
}

.vertical-menu a{
    background-color: yellow;
    display: block;
    padding: 12px;
    font-size: 1rem;
}

.vertical-menu a:hover {
    background-color: black;
}