:root {
    --poppins: "Poppins", sans-sefit;
    --light: #c4c4c4;
    --dark: #161616;
    --white: #f7f7f7;
    --text: rgb(255, 200, 200);
    --text_dark: rgb(255, 180, 130);
    --dark_blue: rgb(80, 110, 255);
}

.divider {
    margin-top: 50px;
    margin-bottom: 50px;
    clear: both;
}

.background {
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url(background.jpeg);
    background-attachment: fixed;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    padding: 200px 100px 400px 100px;
    font-family: Poppins;
    min-height: 600px;
    animation: fadeIn linear 0.5s;

    animation: transitionIn 0.75s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}